<nav class="navbar navbar-light border bg-white fixed-top">
  <div class="container-fluid d-flex">

    <div class="d-flex flex-row" id="navbar-left">
      <a class="navbar-brand text-primary" routerLink="/">Adverse Media Screening</a>
      <ul class="nav">
        <li class="nav-item" *ngIf="showUserDetails()">
          <a class="btn btn-primary" routerLink="/new-search" role="button">New search</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-row" id="navbar-right">
      <ul class="nav">
        <li class="nav-item dropdown" *ngIf="showUserDetails()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-person-circle align-middle lh-1" style="font-size: 30px"></i>
            {{this.authService.getCurrentUser().firstName}} {{this.authService.getCurrentUser().lastName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
