<div class="card mb-2">

  <div class="card-body" *ngIf="!(loadingSearch$ | async); else searchSpinner">
    <h5 class="card-title">Search Nr. {{search.id}}</h5>

    <div class="row mb-2">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <p><strong>Search:</strong></p>
              </div>
              <div class="col-5">
                <p>Date: {{search.createdDate| date: 'mediumDate'}}</p>
                <p>Time: {{search.createdDate| date: 'HH:mm:ss'}}</p>
                <p>Author: {{search.user.firstName}} {{search.user.lastName}}</p>
              </div>
              <div class="col-5">
                <p>Date restrict: {{dateRestricts[search.dateRestrict]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <p><strong>Client:</strong></p>
              </div>
              <div class="col-5">
                <p>Name: {{search.client.name}}</p>
                <p>Type: {{search.client.type}}</p>
                <p>ID: {{search.client.id}}</p>
              </div>
              <div class="col-5">
                <p>Reg.Nr.: {{search.client.registrationNumber}}</p>
                <p>Country: {{search.client.country}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1">
            <p><strong>Keywords:</strong></p>
          </div>
          <div class="col-sm-10">
            <ul class="row">
              <li class="col-2" *ngFor="let keyword of search.keywords">{{keyword.name}}</li>
            </ul>
          </div>
        </div>


      </div>
    </div>

  </div>

  <ng-template #searchSpinner>
    <div class="card-body">
      <h5 class="card-title">Search Nr.</h5>
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>

</div>

<div class="card mb-2">
  <div class="card-body">
    <div *ngIf="!(loadingResults$ | async); else resultSpinner">
      <div *ngIf="results; else noResults">
        <p>Result count: {{search.resultCount}}</p>
        <div *ngFor="let result of results">
          <app-result-details
            [result]="result"
            (decisionChangeEvent)="changeDecisions(result.id, $event)"
          >
          </app-result-details>
        </div>
        <div class="save-button" *ngIf="decisions.size > 0">
          <a [routerLink]="" (click)="saveDecisions()">
            <svg width="40px" height="40px" fill="currentColor">
              <use xlink:href="assets/svg-icons.svg#icon-save"/>
            </svg>
          </a>
        </div>
      </div>
      <ng-template #noResults >
        <p>No results found</p>
      </ng-template>
    </div>
    <ng-template #resultSpinner>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </div>
</div>
