<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-end">
    <li class="page-item" [ngClass]="disabled(isFirstPage())">
      <a class="page-link" [routerLink]="" (click)="firstPage()" aria-label="First"
         [attr.tabindex]="isFirstPage() ? -1 : null"
         [attr.aria-disabled]="isFirstPage() ? true : null">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="disabled(!hasPreviousPage())">
      <a class="page-link" [routerLink]="" (click)="previousPage()" aria-label="Previous"
         [attr.tabindex]="!hasPreviousPage() ? -1 : null"
         [attr.aria-disabled]="!hasPreviousPage() ? true : null">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let index of pageIndexes" [ngClass]="active(index)">
      <a class="page-link" [routerLink]=""
         [attr.aria-current]="currentSelectedPage === index ? 'page' : null"
         (click)="specificPage(index)">{{index + 1}}</a>
    </li>
    <li class="page-item" [ngClass]="disabled(!hasNextPage())">
      <a class="page-link" [routerLink]="" (click)="nextPage()" aria-label="Next"
         [attr.tabindex]="!hasNextPage() ? -1 : null"
         [attr.aria-disabled]="!hasNextPage() ? true : null">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="disabled(isLastPage())">
      <a class="page-link" [routerLink]="" (click)="lastPage()" aria-label="Last"
         [attr.tabindex]="isLastPage() ? -1 : null"
         [attr.aria-disabled]="isLastPage() ? true : null">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
